.App {
  text-align: center;
}

.App-header {
  background-image: url(./img/mobile-main-bg.jpeg);
  /* background-position: top; */
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0 1.5rem;
}
.card {
  width: 100%;
  max-width: 380px;
  border-radius: 15px;
  overflow: hidden;
  color: var(--text-lightblue);
  box-shadow: 0rem 0rem 0.2rem 0.1rem hsl(225, 100%, 94%);
}
/* .card-image-container{
  width: 100%;
} */
.card__image {
  width: 100%;
  display: block;
}

.card__details {
  background-color: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__header {
  text-transform: capitalize;
  font-size: var(--text-header);
  color: var(--text-lighter-lightblue);
}
.card__desc {
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0rem 0.5rem;
}

.card__sub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  background: var(--text-lighter-skyblue);
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.card__music__icon {
  height: 45px;
  width: 45px;
}
.card__sub button {
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--text-lighter-lightblue);
  text-underline-offset: 0.05rem;
}
.card__sub button:hover {
  text-decoration: none;
  opacity: 0.9;
}
.card__sub__details {
  display: flex;
  flex: 1 1 auto;
  text-align: left;
  /* justify-self: self-start; */
  /* align-self: st; */
  /* justify-self: flex-start; */
  flex-direction: column;
  font-size: var(--text-primary);
}
.card__sub__details span {
  font-weight: 700;
  color: var(--text-lighter-lightblue);
}
.proceed__btn {
  background-color: rgb(114, 24, 197);
  color: var(--text-lighter-skyblue);
  padding: 0.8rem;
  border-radius: 0.45rem;
  font-weight: 700;
  font-size: var(--text-primary);
}
.proceed__btn:hover {
  background-color: rgba(114, 24, 197, 0.7);
}
.cancel__btn {
  color: var(--text-lightblue);
  font-weight: 700;
  font-size: var(--text-primary);
}
.cancel__btn:hover {
  color: var(--text-lighter-lightblue);
}

@media screen and (min-width: 40em) {
  .card__details {
    padding: 2rem;
  }
  .card__sub {
    gap: 1rem;
    padding: 1rem;
  }

  .card__sub button {
    font-size: 0.8rem;
  }
}
